<%include ../partials/header %>

<br><br>

	<div class="login">
			<form action="/update" method="POST">
				<h3>Shelter_Name<br></h3>
				<input type="text" name="name">
				<h3>Shelter_ID<br></h3>
				<input type="text" name="shellid">
				<h3>Password<br></h3>
				<input type="password" name="password">
				<h3>Address<br></h3>
				<input type="text" name="address">
				<h3>Phone Number<br></h3>
				<input type="number" name="phoneno">
				<h3>Latitude<br></h3>
				<input type="text" name="Latitude">
				<h3>Longitude<br></h3>
				<input type="text" name="Longitude">
				<h3>City<br></h3>
				<input type="text" name="city">
				<h3>State<br></h3>
				<input type="text" name="state">
				<h3>Photo<br></h3>
				<input type="text" name="photo">
				

				<center><button class="btn-lg">Submit</button></center>
			</form>	
	</div>

<%include ../partials/footer %>
