<% include ./partials/header %>

<h1> Login </h1>

<form action="/login" method="POST">
    <input type="text", username="username", placeholder="username">;
    <input type="passeord" name="password" placeholder="aadharnumber">
    <input type="submit" value="Login!">
</form>

<% include ./partials/footer %>